* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  background-color: black;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 5px;
}

/* Balloon */
.balloon {
  display: flex;
  position: absolute;
  bottom: -500px;
  width: 150px;
  height: 150px;
  z-index: 999;
  animation: moveUp 7s ease-in-out;
}

.balloon__string {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
}

@keyframes moveUp {
  0% {
    bottom: -20%;
    transform: translateX(30%);
  }
  10% {
    transform: translateX(75%);
  }

  20% {
    transform: translateX(25%);
  }

  30% {
    transform: translateX(15%);
  }
  40% {
    transform: translateX(75%);
  }

  50% {
    transform: translateX(10%);
  }

  60% {
    transform: translateX(35%);
  }

  70% {
    transform: translateX(25%);
  }

  80% {
    transform: translateX(10%);
  }
  90% {
    transform: translateX(15%);
  }
  100% {
    bottom: 110%;
  }
}
